![Hand with calculator](calculator.png "Calculator")

In this notebook, I will roleplay business analyst to support an investment firm by analyzing trends in high-growth companies. They are interested in understanding which industries are producing the highest valuations and the rate at which new high-value companies are emerging. Providing them with this information gives them a competitive insight as to industry trends and how they should structure their portfolio looking forward.

Their `unicorns` database contains the following tables:

`dates`

| Column         | Description                                  |
| ------------   | -------------------------------------------- |
| company_id     | A unique ID for the company.                 |
| date_joined    | The date that the company became a unicorn.  |
| year_founded   | The year that the company was founded.       |

`funding`

| Column           | Description                                  |
|----------------- |--------------------------------------------- |
| company_id       | A unique ID for the company.                 |
| valuation        | Company value in US dollars.                 |
| funding          | The amount of funding raised in US dollars.  |
| select_investors | A list of key investors in the company.      |

`industries`

| Column       | Description                                  |
|------------- |--------------------------------------------- |
| company_id   | A unique ID for the company.                 |
| industry     | The industry that the company operates in.   |

`companies`

| Column       | Description                                       |
|------------- |-------------------------------------------------- |
| company_id   | A unique ID for the company.                      |
| company      | The name of the company.                          |
| city         | The city where the company is headquartered.      |
| country      | The country where the company is headquartered.   |
| continent    | The continent where the company is headquartered. |

In [1]:
SELECT * FROM companies

SyntaxError: invalid syntax (2190777650.py, line 1)

In [2]:
select *
from dates
order by date_joined desc

SyntaxError: invalid syntax (331017167.py, line 1)

In [3]:
select industry
from industries
join funding
using (company_id)
join dates
using (company_id)
where extract('year' from date_joined) in (2019,2020,2021)
group by industry
order by count(company_id) desc
limit 3

                          industry
0                          Fintech
1     Internet software & services
2  E-commerce & direct-to-consumer

In [4]:
with top3_industries as (
    select industry, count(company_id) as n
    from industries
    join funding
    using (company_id)
    join dates
    using (company_id)
    where extract('year' from date_joined) in (2019,2020,2021)
    group by industry
    order by n desc
    limit 3)


select industry, 
       extract('year' from date_joined) as year, 
       count(company_id) as num_unicorns,
       round(avg(valuation)/1000000000,2) as average_valuation_billions
from industries
join funding
using (company_id)
join dates
using (company_id)
where extract('year' from date_joined) in (2019,2020,2021) 
and industry in (select industry from top3_industries)
    
group by industry, year
order by industry, year desc

                          industry  ...  average_valuation_billions
0  E-commerce & direct-to-consumer  ...                        2.47
1  E-commerce & direct-to-consumer  ...                        4.00
2  E-commerce & direct-to-consumer  ...                        2.58
3                          Fintech  ...                        2.75
4                          Fintech  ...                        4.33
5                          Fintech  ...                        6.80
6     Internet software & services  ...                        2.15
7     Internet software & services  ...                        4.35
8     Internet software & services  ...                        4.23

[9 rows x 4 columns]